img {
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    z-index: 1;
  }

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

h3 {
    font-size: 22px;
}

.maingame {
    height: auto;
    width: 960px;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
}

/* #stickfigure {
  float: right;
  position: relative;
} */

@media screen and (max-width: 980px) {

.maingame {
    height: auto;
    width: 95%;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    margin: 0 auto;
    margin: 150px 20px 50px 20px;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
}
}


@media screen and (max-width: 768px) {

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

h3 {
    font-size: 22px;
}

.maingame {
  height: auto;
  width: 95%;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  margin: 0 auto;
  margin: 150px 20px 50px 20px;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
}
}


@media screen and (max-width: 640px) {

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

h3 {
    font-size: 22px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

.maingame {
  height: auto;
  width: 95%;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  margin: 0 auto;
  margin: 150px 20px 50px 20px;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
}
}